[submodule "backend"]
	path = backend
	url = https://github.com/Gyxius/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Gyxius/frontend.git
[submodule "web-frontend"]
	path = web-frontend
	url = https://github.com/Gyxius/web-frontend.git
